#nquick-button {
  border: solid 1px #c0c0c0;
  color: #fffaf0;
  background: #808080;
  cursor: pointer;
}

#nquick-icon-button {
  position: relative;
  display: inline-block;
  background: red;
  color: white;
  font-size: 19px;
  text-align: center;
  cursor: pointer;
}

.nquick-ytp-right {
  top: -11px;
  width: 18px;
  height: 18px;
  margin: 9px;
  font-weight: 600;
  line-height: 18px;
}

.nquick-ytp-offline {
  top: 3px;
  width: 32px;
  height: 32px;
  margin-left: 10px;
  font-weight: 600;
  line-height: 32px;
}
