.nquick-vnuma {
  position: relative;
  top: 1px;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  border-radius: 3px;
  font-weight: 800;
  line-height: 18px;
  text-align:center;
  background: red;
  color: white;
  cursor: pointer;
}
