.nquick-vnuma {
  position: relative;
  top: 1px;
  width: 18px;
  height: 18px;
  margin-right: 3px;
  border-radius: 3px;
  font-weight: 800;
  line-height: 18px;
  text-align:center;
  background: red;
  color: white;
  cursor: pointer;
}

.nquick-vnuma-schedule {
  position: absolute;
  top: 5px;
  left: 50px;
  width: 17px;
  height: 17px;
  border-radius: 100%;
  margin-right: 3px;
  font-weight: 800;
  line-height: 17px;
  text-align:center;
  background: red;
  color: white;
  cursor: pointer;
  z-index: 1;
}

.nquick-vnuma-schedule:hover {
  background: #ffa07a;
}